<div class="panel panel-default">
<div class="panel-heading">
<p class="text-center">
	<strong>Commenter:</strong>
	<%= comment.author %>
</p>
</div>
<div class="panel-body">
<p class="text-left">
	<strong>Comment:</strong>
	<%= comment.body %>
</p>

<p>
    <% if current_user.id == comment.user_id %>
	<%= link_to 'Destroy Comment', [comment.post, comment], method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-primary'%>
	<% end %>
</p>
</div>
</div>